.bg-img {
    height: 100vh;
    min-height: 500px;
    background:  url("../assets/img5.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
   position: relative;
}
.container {
    position: relative;
    margin: 20px;
    width: auto;
  }
  
 
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  

  nav a{
    color: #ddd;
  }
  .container{
    margin-top: 30px;
    position: relative;
  }
  .card{
    margin-top: 30px;
  }
  nav:nth-child(even){
    width: 200px;
    margin-top: 30px;
  }
  .col-sm-2{
    margin-top: 30px;
  }